##Analysis for user experience

In [2]:
import numpy as np
import pandas as pd

In [6]:
images=pd.read_csv('/content/images.csv')

In [ ]:
images.head(110)

In [7]:
sales=pd.read_csv('/content/Dripy Sales.csv')

In [8]:
sales.head()

,id,gender,masterCategory,subCategory,articleType,productDisplayName,price,sellers,quantity,filename,ratings,returned,sales
0,59263,Women,Accessories,Watches,Watches,Titan Women Silver Watch,1481,Sanguine Skincare,592,59263.jpg,5,24,841208
1,29114,Men,Accessories,Socks,Socks,Puma Men Pack of 3 Socks,1404,Transit Random,572,29114.jpg,3,3,798876
2,30039,Men,Accessories,Watches,Watches,Skagen Men Black Watch,407,Strat Security,1192,30039.jpg,5,0,485144
3,9204,Men,Footwear,Shoes,Casual Shoes,Puma Men Future Cat Remix SF Black Casual Shoes,1439,Blue Smoke,587,9204.jpg,3,9,831742
4,21977,Women,Accessories,Bags,Handbags,Murcia Women Casual Brown Handbag,983,Spicy Dinner,668,21977.jpg,2,27,630103

In [9]:
sales[sales['sales']>2000000].head(20)

,id,gender,masterCategory,subCategory,articleType,productDisplayName,price,sellers,quantity,filename,ratings,returned,sales
144,58973,Women,Personal Care,Fragrance,Perfume and Body Mist,Colour Me Women Pink Perfume,1408,XYZ,1483,58973.jpg,1,4,2082432
351,34232,Men,Apparel,Topwear,Tshirts,Proline Men Grey T-shirt,1402,Clear Prints,1437,34232.jpg,2,0,2014674
355,30692,Women,Footwear,Shoes,Heels,Catwalk Women Brown Heels,1491,Blue Smoke,1369,30692.jpg,5,1,2039688
413,55635,Women,Footwear,Shoes,Heels,Catwalk Women Gold Heels,1432,Transit Random,1423,55635.jpg,3,15,2016256
482,2828,Men,Footwear,Shoes,Casual Shoes,Lee Cooper Men's LC Casual Denim Blue Shoe,1449,XYZ,1439,2828.jpg,5,24,2050335
637,11587,Women,Apparel,Topwear,Kurtis,W Women Printed White Kurtis,1457,Clear Prints,1465,11587.jpg,2,8,2122849
640,30052,Men,Accessories,Watches,Watches,SKAGEN DENMARK Men Grey Dial Watch 668XLSLZM,1451,XYZ,1492,30052.jpg,5,8,2153284
790,9462,Men,Apparel,Topwear,Shirts,John Miller Men White Check Shirt,1452,Strat Security,1454,9462.jpg,1,8,2099592
1202,14038,Men,Apparel,Topwear,Shirts,Flying Machine Men Check Red Shirts,1435,Ten Fold Security,1424,14038.jpg,3,21,2013305
1265,7755,Men,Apparel,Topwear,Tshirts,Indigo Nation Men Indigo Purple Black Silver T...,1398,Blue Smoke,1466,7755.jpg,2,30,2007528
1367,15913,Men,Apparel,Topwear,Shirts,Black Coffee Men Stripes White Shirt,1352,Strat Security,1496,15913.jpg,3,14,2003664
1618,43044,Men,Apparel,Bottomwear,Shorts,Nike Men Charcoal Grey Shorts,1444,Strat Security,1432,43044.jpg,3,22,2036040
1678,3414,Men,Apparel,Topwear,Tshirts,Myntra Mens Game over T-shirt,1462,XYZ,1459,3414.jpg,1,18,2106742
1697,29468,Men,Accessories,Watches,Watches,Giordano Men Black Dial Watch,1482,Transit Random,1464,29468.jpg,3,11,2153346
1717,46703,Women,Personal Care,Fragrance,Perfume and Body Mist,Rasasi Women Vanity Perfume,1394,Clear Prints,1452,46703.jpg,3,1,2022694
1862,15651,Unisex,Accessories,Bags,Handbags,Belkin Unisex Apple Move Toploader 15,1454,Sanguine Skincare,1411,15651.jpg,5,14,2031238
2164,37933,Women,Apparel,Topwear,Tops,Mineral Women Pink Top,1407,Ten Fold Security,1499,37933.jpg,2,13,2090802
2442,25464,Women,Footwear,Shoes,Sports Shoes,Nike Women Downshifter Black Sports Shoes,1416,XYZ,1448,25464.jpg,4,11,2034792
2566,50430,Women,Accessories,Bags,Handbags,Lino Perros Women Olive Bag,1423,Sanguine Skincare,1420,50430.jpg,3,5,2013545
2666,31603,Men,Apparel,Topwear,Tshirts,Mark Taylor Men Printed Green T-shirt,1349,Sanguine Skincare,1485,31603.jpg,1,1,2001916

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11108 entries, 0 to 11107
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11108 non-null  int64
 1   gender              11108 non-null  object
 2   masterCategory      11108 non-null  object
 3   subCategory         11108 non-null  object
 4   articleType         11108 non-null  object
 5   productDisplayName  11105 non-null  object
 6   price               11108 non-null  int64
 7   sellers             11108 non-null  object
 8   quantity            11108 non-null  int64
 9   filename            11108 non-null  object
 10  ratings             11108 non-null  int64
 11  returned            11108 non-null  int64
 12  sales               11108 non-null  int64
dtypes: int64(6), object(7)
memory usage: 1.1+ MB

In [11]:
affordable=sales[sales['price']<500]

In [12]:
expensive=sales[sales['price']>=1000]

In [13]:
expensive[expensive['masterCategory']=='Apparel']

,id,gender,masterCategory,subCategory,articleType,productDisplayName,price,sellers,quantity,filename,ratings,returned,sales
8,8580,Men,Apparel,Topwear,Waistcoat,Scullers Men Grey Waistcoat,1051,Spicy Dinner,256,8580.jpg,2,10,258546
10,18005,Men,Apparel,Bottomwear,Shorts,Puma Men Long Logo Black Bermuda,1340,Ten Fold Security,1375,18005.jpg,5,22,1813020
11,17871,Men,Apparel,Innerwear,Briefs,Levis Men Boxer Maroon Brief,1022,GenosisX,30,17871.jpg,3,19,11242
18,39716,Women,Apparel,Dress,Dresses,Arrow Woman Women Blue Dress,1242,Clear Prints,1444,39716.jpg,2,17,1772334
19,25349,Men,Apparel,Innerwear,Briefs,Levis Men Red Brief,1074,Strat Security,751,25349.jpg,4,10,795834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11068,26924,Women,Apparel,Topwear,Tops,Jealous 21 Women Black Top,1096,Clear Prints,994,26924.jpg,1,8,1080656
11075,5022,Men,Apparel,Topwear,Shirts,Levis Kids Boy's Calcio Grey Blue Kidswear,1227,GenosisX,649,5022.jpg,2,13,780372
11086,57144,Women,Apparel,Topwear,Tops,Elle Women Black Tank Top,1323,Sanguine Skincare,1342,57144.jpg,5,14,1756944
11091,22573,Men,Apparel,Topwear,Shirts,Highlander Men Check Red Shirt,1435,Spicy Dinner,436,22573.jpg,3,14,605570
11092,11563,Women,Apparel,Topwear,Kurtas,W Women Printed Cream Kurtas,1415,Spicy Dinner,1242,11563.jpg,3,18,1731960

In [14]:
midtier=sales[sales['price']<1000]

In [15]:
mid=midtier[sales['price']>500]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [16]:
mid.head(30)

,id,gender,masterCategory,subCategory,articleType,productDisplayName,price,sellers,quantity,filename,ratings,returned,sales
4,21977,Women,Accessories,Bags,Handbags,Murcia Women Casual Brown Handbag,983,Spicy Dinner,668,21977.jpg,2,27,630103
6,58183,Women,Accessories,Bags,Handbags,Rocky S Women White Handbag,666,Sanguine Skincare,668,58183.jpg,1,17,433566
16,19123,Men,Footwear,Flip Flops,Flip Flops,Lotto Men XL Water Man Silver Slippers,936,XYZ,741,19123.jpg,4,4,689832
17,43369,Men,Footwear,Flip Flops,Flip Flops,Reebok Men Black Possession Flip Flops,768,Unique Trends,474,43369.jpg,2,18,350208
21,22950,Unisex,Accessories,Watches,Watches,Fastrack Unisex Black Dial Watch 9915PP13,743,Unique Trends,1211,22950.jpg,5,15,888628
22,23882,Men,Footwear,Shoes,Sports Shoes,Fila Men Destiny Grey Sports Shoes,764,Friend Random,1387,23882.jpg,1,12,1050500
23,11518,Women,Footwear,Shoes,Heels,Catwalk Women Gun Metal Grey Heels,562,Sanguine Skincare,1424,11518.jpg,4,29,783990
25,28200,Men,Accessories,Eyewear,Sunglasses,Ray-Ban Men Active Lifestyle Copper Sunglasses,978,Bed Random,406,28200.jpg,1,14,383376
27,25382,Men,Apparel,Innerwear,Innerwear Vests,Levis Men White Innerwear Vest,805,Bed Random,640,25382.jpg,2,10,507150
28,4140,Women,Footwear,Shoes,Casual Shoes,Skechers Women Green Shoe,967,XYZ,1326,4140.jpg,1,20,1262902
32,32563,Women,Apparel,Bottomwear,Trousers,ONLY Women directoire blue Trousers,721,Sanguine Skincare,160,32563.jpg,4,7,110313
34,15341,Women,Apparel,Bottomwear,Shorts,Nike Women Solid Pink Shorts,789,Guard Random,925,15341.jpg,5,20,714045
36,53554,Men,Apparel,Innerwear,Boxers,Probase Multicoloured Printed Boxers,858,Friend Random,273,53554.jpg,4,17,219648
46,21180,Men,Footwear,Flip Flops,Flip Flops,ADIDAS Men Adi Cells Black Flip Flops,729,Transit Random,655,21180.jpg,4,13,468018
49,47392,Women,Accessories,Bags,Handbags,Baggit Women Beige Bag,812,XYZ,1106,47392.jpg,4,18,883456
50,7167,Men,Apparel,Topwear,Shirts,Scullers Men Scul Purple White Shirt,919,Bed Random,165,7167.jpg,4,3,148878
52,13042,Women,Footwear,Shoes,Flats,Inc 5 Women Brown Heels,741,Friend Random,836,13042.jpg,4,18,606138
53,43500,Men,Apparel,Topwear,Tshirts,French Connection Men White T-shirt,852,Guard Random,939,43500.jpg,4,2,798324
54,2627,Women,Footwear,Shoes,Flats,Carlton London Women Wedge Silver Sandal,907,Unique Trends,480,2627.jpg,1,23,414499
62,14055,Men,Apparel,Topwear,Shirts,Flying Machine Men Check Green Shirts,685,Clear Prints,1310,14055.jpg,3,5,893925
63,28469,Women,Apparel,Topwear,Tshirts,Urban Yoga Women Printed Pink T-shirt,560,Clear Prints,119,28469.jpg,4,4,64400
65,30496,Women,Apparel,Innerwear,Bra,Lovable Women Fiona Purple Bra,531,Friend Random,221,30496.jpg,5,5,114696
73,29789,Men,Apparel,Topwear,Tshirts,Basics Men Pack of 3 T-shirt,730,Guard Random,339,29789.jpg,2,24,229950
74,55233,Women,Personal Care,Makeup,Foundation and Primer,Lakme Nine to Five Flawless Makeup Shell Found...,886,Ten Fold Security,648,55233.jpg,3,25,551978
75,13426,Men,Apparel,Topwear,Tshirts,United Colors of Benetton Men Stripes Red Pol...,843,Clear Prints,423,13426.jpg,4,17,342258
76,43356,Women,Footwear,Shoes,Sports Shoes,Reebok Women Charcoal Grey Fuel Techno Sports ...,956,GenosisX,1190,43356.jpg,3,21,1117564
79,46278,Women,Apparel,Topwear,Tunics,109F Women Red & White Striped Tunic,666,Unique Trends,1256,46278.jpg,2,11,829170
80,18492,Men,Footwear,Flip Flops,Flip Flops,Puma Men Danny Blue Slipper,933,Strat Security,324,18492.jpg,4,17,286431
82,5608,Men,Footwear,Sandal,Sandals,ADIDAS Men Kendall Black Navy Floater,869,Guard Random,1198,5608.jpg,3,17,1026289
86,19772,Men,Footwear,Shoes,Casual Shoes,ADIDAS Men Vigor Blue Casual Shoes,669,Sanguine Skincare,772,19772.jpg,2,5,513123

In [158]:
uni=expensive[expensive['gender']=='Unisex']

In [160]:
uni.head(10)

,id,gender,masterCategory,subCategory,articleType,productDisplayName,price,sellers,quantity,filename,ratings,returned,sales
24,13841,Unisex,Accessories,Watches,Watches,ADIDAS Unisex Three Small Dials White Watches,1288,XYZ,90,13841.jpg,5,20,90160
72,51693,Unisex,Accessories,Eyewear,Sunglasses,Van Heusen Unisex Brown Sunglasses,1387,Spicy Dinner,345,51693.jpg,4,23,446614
173,6422,Unisex,Footwear,Shoes,Casual Shoes,Lotto Unisex Canvas Black Grey Shoe,1249,Guard Random,348,6422.jpg,1,25,403427
266,37676,Unisex,Accessories,Bags,Backpacks,American Tourister Unisex Black Backpack,1241,XYZ,313,37676.jpg,4,6,380987
274,42417,Unisex,Accessories,Accessories,Messenger Bag,American Tourister Unisex Purple Messenger Bag,1227,XYZ,1435,42417.jpg,2,22,1733751
310,39512,Unisex,Accessories,Bags,Backpacks,Peter England Unisex Black Backpack,1085,Clear Prints,1321,39512.jpg,4,5,1427860
376,40313,Unisex,Footwear,Sandal,Sandals,Warner Bros Kids White sandals,1347,Transit Random,970,40313.jpg,3,6,1298508
406,49864,Unisex,Accessories,Watches,Watches,Q&Q Kids Unisex Purple Digital Watch,1319,Friend Random,442,49864.jpg,2,28,546066
452,8516,Unisex,Accessories,Bags,Backpacks,Nike Unisex Ultimatum Max Black Backpacks,1010,Ten Fold Security,177,8516.jpg,1,13,165640
489,4317,Unisex,Apparel,Topwear,Tshirts,Tantra Kid's Unisex Kya Boss Red Kidswear,1008,Blue Smoke,833,4317.jpg,2,1,838656

In [159]:
uni[uni['masterCategory']=='Free Items'].head(10)

Empty DataFrame
Columns: [id, gender, masterCategory, subCategory, articleType, productDisplayName, price, sellers, quantity, filename, ratings, returned, sales]
Index: []

In [162]:
images[images['filename']=='13841.jpg']

      filename                                               link
125  13841.jpg  http://assets.myntassets.com/v1/images/style/p...